* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
}
nav {
    background-color: #333;
    height: 70px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 8px 30px;
}
nav a {
    color: #a0a0a0;
    text-decoration: none;
    padding: 0 20px;
    letter-spacing: 0.5px;
    position: relative;
    transition: 0.2s;
    align-items: center;
    float: center;
}
nav a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: 0.5s linear;
}
nav a:hover {
    color: #fff;
}
nav a:hover:after {
    width: 100%;
}